
@import url('https://fonts.googleapis.com/css?family=Oswald');

*{ 
	padding: 0;
	margin: 0;
}
/*ccs para la barra de navegacion*/
#cabezera{
	width: 100%;
	height: 60px;
	background-color: #3C3C3C;
}

#barra> ul{
	list-style: none;
	padding-right: 30px;
	float: right;
}
#barra> ul> li{
	display: inline-block;
	line-height: 40px;
	margin-top: 12px;
}
#barra> ul> li>a {
	padding: 10px;
	margin-top: 2px;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	background-color: transparent;
	text-decoration: none;
	color: white;
	font-size: 25px;
}
#barra> ul> li>a:hover {
	background-color: white;
	border-radius: 102px 102px 102px 102px;
	-moz-border-radius: 102px 102px 102px 102px;
	-webkit-border-radius: 102px 102px 102px 102px;
	border: 2px solid white;
	color:#3C3C3C;
	
}

/*CSS PARA CUERPO DE LA PAGINA*/
	/*BANNER PRINCIPAL*/
#cuerpo{
	position: absolute;
	width: 100%;  
	height: 512px;
	margin: 20px auto;
	background: url(../fo.gif);
	background-size: cover;
}

	/*Letrero del banner*/
#letrero{
	position: relative;
	width: 500px;
	height: 200px;
	background-color: rgba(112,112,112,.5);
	margin-top: 100px;
	
}
#letrero> h1,h2,p{
	margin-left: 50px;
	font-family: 'Oswald', sans-serif;
	color: black;
	font-size: 25px;
}
#letrero>p{
	margin-bottom: 15px;
}
#letrero> h1{
	margin-top: 40px;
	font-size: 40px;
}
	/*boton*/

.suscribirse{
	margin-left: 50px;
	padding: 5px;
	font-family: 'Oswald', sans-serif;
	background-color: transparent;
	text-decoration: none;
	color: white;
	font-size: 25px;

	border-radius: 102px 102px 102px 102px;
	-moz-border-radius: 102px 102px 102px 102px;
	-webkit-border-radius: 102px 102px 102px 102px;
	border: 2px solid white;
	

}
.suscribirse2{
	display: inline-block;
	line-height: 40px;
	margin-top: 12px;

	padding: 10px;
	margin-top: 2px;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	background-color: transparent;
	text-decoration: none;
	color: white;
	font-size: 25px;


}
/*FORMULARIO*/

#formulario{
	width: 500px;
	height: 200px;
	background-color: rgba(0,0,0,.8);
	position: relative;
	margin: 70px auto;
	display: none;
}

#formulario > #form{
	margin:40px auto; 
}


#formulario2{
	width: 500px;
	height: 200px;
	background-color: rgba(0,0,0,.8);
	position: relative;
	margin: 70px auto;
	display: none;
}

#formulario2 > #form{
	margin:40px auto; 
}


.etiqueta{
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 25px;



/*---------------------------------------*/
}
#formulario >#form>#cerrar,#enviar{
	position: sticky;
	margin: 20px;
}
#formulario2 >#form>#cerrar,#enviar{
	position: sticky;
	margin: 20px;
}







 




 button{
    text-decoration: none;
    padding: 10px;
    font-weight: 80;
    font-size: 15px;
    color: #ffffff;
    background-color: #000000;
    
	border: 2px solid #1e1e22;
	
	
  }
  button:hover{
    color: #06ec40d3;
    background-color: #7c0101;
  }







